#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#dialog {
	width: 400px;
	overflow: scroll;
	position: absolute;
	top: 0px;
	z-index: 9998;
}

.hidden {
	display: none;
}

h4 {
	display: inline-block;
	width: 230px;
	color: red;
}

span.badge {
	padding: 1px 4px;
	margin-right: 5px;
}

#results {
	padding: 0px;
}

.containers {
	color: white;
	border-top: 2px white solid;
}

div.panel-default>.panel-heading {
	background-color: #000000;
}

.panel-heading {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#loader {
	height: 100%;
	background-color: white;
	text-align: center;
	padding-top: 200px;
}

.white {
	color: white;
}

.navbar {
	background-color: black;
	padding-top: 10px;
	margin-bottom: 0;
}

.navbar-default 
.navbar-text {
	color: white;
}

.navbar-default 
.navbar-nav > li > a {
	color: white;
	padding: 3px 10px 0 2px;
	/*font-weight: bold;*/
	font-size: 28px;
}

.panel {
	margin-bottom: 0px;
}

.navbar-collapse {
  border-top: 0;
}

div.container {
	margin: 0;
}

ul.nav.navbar-nav.navbar-right {
    margin-right: auto;
    position:absolute;
    top:12px;
    bottom:0;
    right:0;
}

.red {
    background-color: red;
    color: white;
    height:100%;
}

button {
	width: 398px;
}

.caret {
	margin-top: 8px;
}
